<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "com.krechit.app"
        versionCode = "10"
        version     = "1.2.0">

    <name>ТЕСТ. Krechit-каталог твоего города</name>

    <description>
        Krechit.com-Каталог твоего города
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/607026673ef7cf22e5c352add22b1cd7.png" density="ldpi" />
        <icon src="res/android/icon/b89096e748b1c7fb95928ec37131711d.png" density="mdpi" />
        <icon src="res/android/icon/dd262470115b55bce05ba403d7a6d7e5.png" density="hdpi" />
        <icon src="res/android/icon/9a5e8b060c34b46740b4a4f1927e46e3.png" density="xhdpi" />
        <icon src="res/android/icon/6ae44cecdddf830fe74d43d9318f73be.png" density="xxhdpi" />
        <icon src="res/android/icon/890edb66215228f9630537767f20f6fa.png" density="xxxhdpi" />

        <splash src="res/android/screen/060220f7b2947b20f366c8fa0fb96d97.png" density="port-hdpi"/>
        <splash src="res/android/screen/a46c1e6aa8dc32d0f5de558477e45506.png" density="port-ldpi"/>
        <splash src="res/android/screen/d8cbf041734413968d06de134617381c.png" density="port-mdpi"/>
        <splash src="res/android/screen/b392e571b10e6327be27cef42781b56f.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/311ab24ea790a7868c9a6911151370ef.png" width="180" height="180" />
        <icon src="res/ios/icon/79c85aba6ba1013acf08510c97e54102.png" width="60" height="60" />
        <icon src="res/ios/icon/cf23a0f511cba38c1c13fc94a7cc6f2e.png" width="120" height="120" />
        <icon src="res/ios/icon/668f7b85f4ae407903eb33e48ab54450.png" width="76" height="76" />
        <icon src="res/ios/icon/bbe367b205723da84cc7211e365400a1.png" width="152" height="152" />
        <icon src="res/ios/icon/d7c6bee5399d71efc5efa41a4d79f516.png" width="57" height="57" />
        <icon src="res/ios/icon/17511f817756138380fc1adaadb5e43a.png" width="114" height="114" />
        <icon src="res/ios/icon/876262e5484758fb7ac9b6519651720b.png" width="72" height="72" />
        <icon src="res/ios/icon/1453874a97bf30d5fbd330d6afc27a23.png" width="144" height="144" />
        <icon src="res/ios/icon/f63664ed83ded4a04bab08ce21c79b2b.png" width="167" height="167" />
        <icon src="res/ios/icon/f193b4c78ef6a58f9a5feb4845f89ec3.png" width="29" height="29" />
        <icon src="res/ios/icon/618f6affa8b040227e572a0e8f5e3bd5.png" width="58" height="58" />
        <icon src="res/ios/icon/3097f0701aed7acadcbcfa646ce3b01f.png" width="87" height="87" />
        <icon src="res/ios/icon/13d00cc81e56a053cc18ed85404b39ea.png" width="167" height="167" />

        <splash src="res/ios/screen/de5367c2923b8c5bb849ac87a4544b46.png" />
        <splash src="res/ios/screen/6371502c0fe23c545721134498e14d35.png" />
        <splash src="res/ios/screen/22e2b3aebf87e6924cff11f784606cb0.png" />
        <splash src="res/ios/screen/a01ce3d66abd848c926eb42a5af464cb.png" />
        <splash src="res/ios/screen/5affc623be1091e8fb27c8a92c45e0d1.png" />
        <splash src="res/ios/screen/e2384981461fd1515f0210cfe91d4049.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/849469d9283cdd763fae8899494ab1e4.png" target="StoreLogo" />
        <icon src="res/windows/icon/da908457fa124ade926c64ee132915b3.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/e92dbafbe48710dc6b9383311b5fafec.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/8214e857793e67cba33347a2cf48b320.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/994380a22cd474e83233738511f5cf6e.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/3b316917fe13c427bc829bf3c9283597.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/fe8cbf8a14df1887ab548e54fd486633.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/bc14a087ae94439827d6484db9bd66b8.png" target="SplashScreen"/>
        <splash src="res/windows/screen/2ea1228da7c4c5c8b1fc4743d5fd03ca.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>